$green: #37802C;
$darkGreen: #07190B;
$lightGreen: #5F962C;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 微軟正黑體;
}

body{
    background: $green;
}

#box{
    width: 800px;
    margin: 30px auto;
    text-align: center;
    background: white;
    padding: 30px;
    box-shadow: 0 0 15px $darkGreen;

    p{
        margin-top: 20px;
        font-size: 36px;
        cursor: default;
    }

    #hide{
        img{
            width: 50px;
        }
    }

    a{
        display: block;
        text-decoration: none;
        color: black;
        margin-top: 20px;
    }

    h2{
        margin-top: 30px;
    }

    table, tr, td, th{
        border-collapse: collapse;
        border: 1px solid black;
    }

    table{
        margin-top: 20px;
        width: 100%;
        cursor: default;
    }

    th{
        &:nth-child(1){
            width: 150px;
        }
    }
}